/************
 * Tooltips *
 ************/
tooltip {
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
}

tooltip.background {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
}

tooltip.background.csd {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  border-radius: 0px;
}

tooltip decoration {
  background-color: transparent;
}

tooltip > box {
  margin: -6px;
  min-height: 24px;
  padding: 4px 8px;
}

tooltip:not(.csd) {
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-clip: padding-box;
}
tooltip.csd decoration {
  border-radius: 0px;
  box-shadow:
    0 2px 3px -1px rgba(0, 0, 0, 0.2),
    0 4px 3px -1px rgba(0, 0, 0, 0.14),
    0 1px 6px -1px rgba(0, 0, 0, 0.12);
}
/* tooltip.background.chromium {
  background-color: #363636;
} */

box.vertical headerbar,
filechooser #pathbarbox,
.sidebar,
.titlebar,
.titlebar:backdrop,
toolbar,
menubar,
.menubar,
menubar:backdrop,
.menubar:backdrop,
notebook > header,
notebook.frame > header,
.background {
  background-color: #ffffff;
}

window.background:not(.solid-csd):not(.csd) > grid.horizontal > grid.horizontal,
window.background:not(.solid-csd):not(.csd)
  > grid.horizontal
  > grid.horizontal:backdrop {
  background-color: #ffffff;
  box-shadow: none;
}

button:focus,
button:checked:focus {
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.18),
    0 0 0 2px transparent;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.18);
}

stack box box .stack-switcher {
  background: #ffffff;
}
