#calSidebar {
  min-width: 320px !important;
}
.minimonth-day {
  border-radius: 2px !important;
}
.minimonth-nav-item input {
  width: 55px !important;
}
.minimonth-nav-section {
  margin: 0px !important;
}

.calendar-month-day-box-week-label {
  font-size: 0.9rem !important;
  text-align: left !important;
  display: flex !important;
  align-items: center !important;
  background: none !important;
}
.calendar-month-day-box-date-label[relation="today"] {
  border-radius: 6px !important;
}
.calendar-color-box {
  border-radius: 6px !important;
}

.search-icon {
  margin-right: 6px !important;
}

menupopup,
panel,
slot[part="content"] {
  margin-top: 2px !important;
  --panel-border-radius: 12px !important;
  --panel-shadow: var(--gnome-menu-shadow) !important;
  --panel-shadow-margin: 6px !important;
}
#PopupGlodaAutocomplete > .autocomplete-richlistbox {
  border-radius: 12px !important;
}
